name: github action with gcp

on:
    push:
        branches:
            - main

jobs:
    terraform-test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v5

            - name: install terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: "1.9.8"

            - name: configure gcloud sdk
              uses: google-github-actions/setup-gcloud@v2
              with:
                  project_id: terracloudlabs91

            - name: authenticate gcloud sdk
              uses: google-github-actions/auth@v2
              with:
                  credentials_json: ${{ secrets.GCP_SA_KEY }}

            - name: Terraform Init
              run: terraform init

            - name: Terraform apply
              run: terraform apply --auto-approve
